# INPUT AND SECONDARY 
units   : input.tsv
species : horse
ref     : Thoroughbred
bucket  : wags
alias   : s3
profile : slurm

# SINGULARITY IMAGE
sif : /path/to/wags.sif

# SORTSAM TEMP DIR
tmp_dir :
  sort_tmp  : /path/to/proc/dir
  fastq_tmp : /path/to/proc/dir

# LEFT ALIGN BAM
left_align : false

# INTERVAL SIZE SCATTER
nrun_length  : 50
scatter_size : 50

# REFERENCE FILES
ref_dict  : T2T_TB.v5.dict
ref_fasta : /home/refgen/horse/Thoroughbred/T2T_TB.v5.fa

# RESOURCE FILES FOR BQSR (OPTIONAL)
known_sites :
  dog10k_bed : /path/to/known/sites.bed.gz

# SV CONDA ENVS
conda_envs :
  delly  : delly
  gridss : gridss
  smoove : smoove
  manta  : manta
